/* Navigation bar */

#navbar nav {
  /* margin-bottom: 20; */
  margin: 0;
  position: relative;
  overflow: hidden;
}

#navbar ul {
  background-color: #dddddd;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 35;
}

#navbar li {
  float: left;
}

#navbar li a {
  display: block;
  padding: 8px;
  float: none;
}